AWS_DEFAULT_REGION=us-east-2
ROOT_PATH=

REQUESTS_TABLE_NAME=purchase_requests
APPROVALS_TABLE_NAME=purchase_approvals
APPROVAL_BASE_URL=http://localhost:5173/approve
EVIDENCE_BUCKET_NAME=purchase-approval-evidence-pcduque
EVIDENCE_BUCKET_NAME=purchase-approval-evidence-pcduque
